{% extends 'base.html' %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        {% if user.is_authenticated %}
            <h1> Bienvenido {{ user.first_name }} </h1>
        {% else %}
        <h1 id="testing"> Login </h1>
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="first_name" placeholder="Nombre" require >
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña" require >
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>

        </form>
        {% endif %}
    </div>


{% endblock %}
